*{
    font-family: 'Open Sans', sans-serif;
    padding: 0;
    margin: 0;
    transition: all 0.3s;
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

li{
    list-style-type: none;
}

html {
    scroll-behavior: smooth;
  }


header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    color:#fff;
    z-index: 1000;
    height: 160px;
    overflow: hidden;
    -webkit-transition: height 0.3s;
    -moz-transition: height 0.3s;
    transition: height 0.3s;
    text-align:center;
    background-color: #333;
    color: white;
    padding: 0;
    display: flex;
    justify-content: space-between;
    color: white;
    align-items: center;
    transition: 0.3s;

}
#header.shrink {
  height: 160px;
  line-height:80px;
  margin: 20px;
  width: calc(100% - 40px);
  border-radius: 25px;
}


header h1{
    margin-left: 20px;
}

header a {
    color: white;
    text-decoration: none;
    margin-right: 20px;
    font-size: 1.2em;
    display: flex;
    height: 100%;
    align-items: center;
    padding: 0 25px;
}
header nav{
    height: 100%;
    display: flex;
}


.contentExperiences{
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 100%;
}



main{
    padding-top: 200px;
    background: linear-gradient(to left top,  #FDBB2D 0%, #22C1C3 100%);

}

.nameHeader{
    font-size: 1.7em;
    font-weight: bold;
    margin-top: 50px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
}

.activeLink{
    background-color: rgb(119, 176, 255);
}


#about_section{
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    border-radius: 25px;
    color: white;
    font-size: 1.7em;
    text-align: center;
    display: flex;
    align-items: center;

}

#about_section img{
    width: 45%;
}

#about_section a {
    color: white;
    text-decoration: none;    
    font-size: 1em;
    display: flex;
    height: 100%;
    align-items: center;
    flex-direction: column;
    padding: 0 25px;
    background-color: royalblue;
    width: 50%;
    padding: 10px;
    border-radius: 8px;
}
#about_section a:hover{
    background-color: rgb(119, 176, 255);
    transform: scale(1.1);
}


#downloadPDF{
    width: 25%;
    display: flex;
    justify-content: center;
}


#goTop {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    border-radius: 25px; /* Rounded corners */
    transition: opacity 0.5s; /* Smooth transition for opacity */
    font-size: 2em;
    background-color: rgba(0, 0, 0, 0);
    width: 75px;
  }
  #goTop img{
    width: 100%;
  }
  

.sectionActicle{
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
    display: flex;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
    background-color: rgba(0, 0, 0, 0.6);
    padding: 50px;
    padding-top: 120px;
    border-radius: 25px;
    color: white;
    font-size: 1.7em;
    text-align: center;
    display: flex;
    align-items: center;
}

.sectionActicle {
    opacity: 0;
    transform: translateY(100px);
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
  }
  
  .sectionActicle.visible {
    opacity: 1;
    transform: translateY(0);
  }
  
  .sectionActicle.hidden {
    opacity: 0;
    transform: translateY(100px);
  }
  

#competence_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

.liste_competences{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.liste_competences section{
    width: 400px;
    margin: 10px;
    padding: 1%;
}



.liste_competences section li{
    list-style-type: none;
    margin: 10px;
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    height: 95px;
    text-transform: uppercase;

}

.liste_competences img {
    width: 65px;
}

.compentencepro li {
    width: 100% !important;
    text-align: center;
    justify-content: center !important;
}

#devweb{
    display: flex;
    width: 100%;
    
}

#devweb ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

#devweb li {
    padding-left: 0;
    display: flex;
    justify-content: space-between;
    width:35%;
    margin-left: auto;
    margin-right: auto;
}

.sectionDevWeb{
    width: 50% !important;
}

#parcours_section{
    display: flex;
    flex-direction: column;
}


details {
    border: 5px solid #555;
    list-style: none;
    margin: 0;
    padding: 0;

    [name="accordion"] {
        display: none;
    }
}


details {
    width: 57vw;
    text-align: left;

    & + .accordion__item {
        border-top: 1px solid #555;
    }
}

.accordion__header {
    background-color: #777;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.accor



/* TIMELINE
–––––––––––––––––––––––––––––––––––––––––––––––––– */

.timeline ul {
    padding: 50px 0;
  }
  
  .timeline ul li {
    list-style-type: none;
    position: relative;
    width: 6px;
    margin: 0 auto;
    padding-top: 50px;
    background: #fff;
  }
  
  .timeline ul li::after {
    content: "";
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: inherit;
    z-index: 1;
  }
  
  .timeline ul li div {
    position: relative;
    bottom: 0;
    width: 400px;
    padding: 15px;
    background: linear-gradient(to left top,  #FDBB2D 0%, #22C1C3 100%);
  }
  
  .timeline ul li div::before {
    content: "";
    position: absolute;
    bottom: 7px;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ul li:nth-child(odd) div {
    left: 45px;
  }
  
  .timeline ul li:nth-child(odd) div::before {
    left: -15px;
    border-width: 8px 16px 8px 0;
    border-color: transparent rgb(142, 190, 122) transparent transparent;
  }
  
  .timeline ul li:nth-child(even) div {
    left: -480px;
  }
  
  .timeline ul li:nth-child(even) div::before {
    right: -15px;
    border-width: 8px 0 8px 16px;
    border-color: transparent transparent transparent rgb(246, 187, 50);
  }
  
  time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  
  /* EFFECTS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline ul li::after {
    transition: background 0.5s ease-in-out;
  }
  

  
  .timeline ul li div {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;
  }
  
  .timeline ul li:nth-child(odd) div {
    transform: translate3d(200px, 0, 0);
  }
  
  .timeline ul li:nth-child(even) div {
    transform: translate3d(-200px, 0, 0);
  }
  
  .timeline ul li.in-view div {
    transform: none;
    visibility: visible;
    opacity: 1;
  }
  
  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  @media screen and (max-width: 900px) {
    .timeline ul li div {
      width: 250px;
    }
    .timeline ul li:nth-child(even) div {
      left: -289px;
      /*250+45-6*/
    }
  }
  
  @media screen and (max-width: 600px) {

    .timeline ul li {
      margin-left: 20px;
    }
    .timeline ul li div {
      width: calc(100vw - 91px);
    }
    .timeline ul li:nth-child(even) div {
      left: 45px;
    }
    .timeline ul li:nth-child(even) div::before {
      left: -15px;
      border-width: 8px 16px 8px 0;
      border-color: transparent  transparent transparent rgb(246, 187, 50);
    }
  }
  
  
  /* EXTRA/CLIP PATH STYLES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  .timeline-clippy ul li::after {
    width: 40px;
    height: 40px;
    border-radius: 0;
  }
  
  .timeline-rhombus ul li::after {
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
  }
  
  .timeline-rhombus ul li div::before {
    bottom: 12px;
  }
  
  .timeline-star ul li::after {
    clip-path: polygon(
      50% 0%,
      61% 35%,
      98% 35%,
      68% 57%,
      79% 91%,
      50% 70%,
      21% 91%,
      32% 57%,
      2% 35%,
      39% 35%
    );
  }
  
  .timeline-heptagon ul li::after {
    clip-path: polygon(
      50% 0%,
      90% 20%,
      100% 60%,
      75% 100%,
      25% 100%,
      0% 60%,
      10% 20%
    );
  }
  
  .timeline-infinite ul li::after {
    animation: scaleAnimation 2s infinite;
  }
  
  @keyframes scaleAnimation {
    0% {
      transform: translateX(-50%) scale(1);
    }
    50% {
      transform: translateX(-50%) scale(1.25);
    }
    100% {
      transform: translateX(-50%) scale(1);
    }
  }

  #experience_section{
    display: flex;
    flex-direction: column !important;
  }

  #portfolio_section{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 100px;
    margin-bottom: 100px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
  }

  .carousel{
      display: flex;
      flex-wrap: wrap;
      gap: 10%;
      justify-content: center;
  }

  .carousel-cell{
    width: 250px;
    height: 250px;
    background-color: #ffffff;
    color: black;
      display: flex;
    justify-content: center;
    align-content: center;
      margin-top: 25px;
      text-decoration: none;

  }

  .carousel-cell>div{
      display: none;
      vertical-align: middle;
      height: 100%;
      align-content: center;
      width: 100%;
  }


.h3Carousel{
    display: none;
    position: absolute;
    text-align: center;
    height: fit-content;
    transform: translate(0,-50%);
    margin-top: 50%;
    transition: unset;
}


  #terre_de_durance{
    background-image: url('./assets/logo/logo-terre-de-durance.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #voyo{
    background-image: url('./assets/logo/voyo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #model{
    background-image: url('./assets/logo/modelisme_logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #hand{
    background-image: url('./assets/logo/logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #garage{
    background-image: url('./assets/logo/benzin-logo.png');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  #burgerMenu{
    display: none;
  }


  @media screen and (max-width: 1341px) and (min-width: 498px) {
    main{
      padding-top: 80px;
    }


    #header.shrink {
        height: 160px;
        line-height: fit-content;
        margin: 0;
        width: 100%;
        border-radius: unset; 
    }

    #about_section{
      flex-direction: column;
    }

    header{
      flex-direction: column;
    }

    .nameHeader{
      margin: 0;

    }

    .table_competences ul section{
      width: 100%;
    }


    .timeline ul li:nth-child(odd) div {
      left: 45px;
    }
    
    .timeline ul li:nth-child(odd) div::before {
      left: 0px;
      border-width: 8px 16px 8px 0;
      border-color: transparent rgb(142, 190, 122) transparent transparent;
    }
    
    .timeline ul li:nth-child(even) div {
      left: 44px;
    }
    
    .timeline ul li:nth-child(even) div::before {
      left: 0px;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent rgb(246, 187, 50);
      rotate: 0;
    }

    .timeline {
      text-align: left;
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }
    
  }

  @media screen and (max-width: 497px) {

    .menu{
      display: none !important;
    }


    #burgerMenu{
      display: block;
      position: fixed;
      top: 0;
      right: 0;
      z-index: 1000;
      background-color: #333;
      color: white;
      padding: 10px;
      border-radius: 0 0 0 25px;
    }

    .bar1{
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
    .bar2{
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }
    .bar3{
      width: 30px;
      height: 3px;
      background-color: white;
      margin: 6px 0;
      transition: 0.4s;
    }


    main{
      padding-top: 80px;
    }

    #header.shrink {
        height: 160px;
        line-height: fit-content;
        margin: 0;
        width: 100%;
        border-radius: unset; 
    }

    #about_section{
      flex-direction: column;
    }

    header{
      flex-direction: column;
    }

    .nameHeader{
      margin: 0;

    }

    .table_competences ul section{
      width: 100% !important;
    }

    .timeline ul li div{
      width: 100%;
      margin: 0;
      left: 0;
      right: 0;
    }

    .sectionActicle {
      width: 100% !important;
    }

    #devweb ul{
      display: flex;
      flex-direction: column;
      width: 100%;
      li{
        width: 100%;
      }
    }

    .timeline {
      text-align: left;
      display: flex;
      justify-content: flex-start;
      width: 100%;
    }
    .timeline ul li:nth-child(even) div {
      left: 44px;
    }
    
    .timeline ul li:nth-child(even) div::before {
      left: 0px;
      border-width: 8px 0 8px 16px;
      border-color: transparent transparent transparent rgb(246, 187, 50);
      rotate: 0;
    }

    .timeline {
      text-align: left;
      display: flex;
      justify-content: flex-start;
      width: 100%;
      padding: 0;
    }
    

    .timeline ul li {
      list-style-type: none;
    position: relative;
    width: 0px;
    margin: 0 -42px;
    padding-top: 50px;
    background: #fff;
    }

    .timeline ul li.in-view div{
      width: 90vw;
    }

    .sectionActicle{
      padding: 0 !important;
      
    }

    .timeline ul li div::before{
      display: none;
    }

    .liste_competences section li{
      margin: 10px;
      width: 100%;
    }
  }

  #footer{
    width: 100%;
    height: 10vh;
    background-color: #333;
    color: white;
    display: flex;
    justify-content: center;
  }