*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    color: aliceblue;
}

a{
    text-decoration: none;
}


html{
        background-image: url('/public/img/pexels-hristo-fidanov-1252890.jpg');
    background-size:cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}


header{
    height: 100vh;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-top: 10%;
}



img{


    width:100%;
}

.title{
    place-content:center;
    color: white;
    font-size: 4rem;
    font-family: "Space Mono", monospace;
    text-transform: Uppercase;
    cursor:auto;
    width: auto;


}


.testInfo{
    font-size: 2.5em;
    color: rgb(240, 248, 255);
    font-family: "Space Mono", monospace;
}

.titreInfo{
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}




body{
    background-color: none;
}

main{
    width: 100%;

}

.rigth{
    background-color: rgba(10, 10, 10, 0.8);
    width: 60%;
    margin-left: 35%;
    margin-bottom: 150px;
    border-radius: 25px;
    padding: 10px;
}

.left{
    background-color: rgba(10, 10, 10, 0.8);
    width: 100%;
    margin-bottom: 150px;
    border-radius: 25px;
    padding: 10px;
}



 h2{
    color: aliceblue;
    font-family:normal 16px/1.5 "Helvetica Neue", sans-serif;
    text-align: center;
    font-size: 2em;
}



.langageImg{
    width: 35vh;
    aspect-ratio: 3/2;
    object-fit: contain;

}

.langageImg::before{
    transform: scale(0);
}


.langage{
    display: flex;
    flex-direction: column;
    
}



.img{
    display: flex;
    box-sizing: border-box;
    overflow-x: scroll;
    padding: 24px;
    width: 100%;
    scroll-snap-type: x mandatory;
    scroll-padding: 24px;
    gap: 12px;
}

.item{
    flex: 0 0 20%;
    padding: 24px;
    scroll-snap-align: start;
    text-align: center;
}



h3{
    font-size: 2em;
}


footer{
    bottom: 0;
    background-color: rgb(16, 11, 111);
    height: 40vh;
}

.contactLeft{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 90%;
    text-align: center;
}


@media screen and (max-width: 768px) {
    .rigth{
        width: 90%;
        margin-left: 5%;
    }

    .left{
        width: 90%;

    }

    .langageImg{
        width: 100%;
    }

    .img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item{
        flex: 0 0 100%;
    }

    .contactLeft{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
        text-align: center;
    }

    .titreInfo{
        width: 100%;
    }

    .title{
        font-size: 2.5rem;
    }

    .testInfo{
        font-size: 1.5em;
    }

    .langageImg{
        width: 100%;
    }

    .langage{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item{
        flex: 0 0 100%;
    }

    .contactLeft{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
        text-align: center;
    }

    .titreInfo{
        width: 100%;
    }

    .title{
        font-size: 2.5rem;
    }

    .testInfo{
        font-size: 1.5em;
    }

    .langageImg{
        width: 100%;
    }

    .langage{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .img{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .item{
        flex: 0 0 100%;
    }

    .contactLeft{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        height: 90%;
        text-align: center;
    }

    .titreInfo{
        width: 100%;
    }

    .title{
        font-size: 2.5rem;
    }

}